In [1]:
import pandas as pd
import numpy as np

In [2]:
#from google.colab import drive
#drive.mount('/content/drive')

In [3]:
#!cp "/content/drive/MyDrive/ML AI/Assignment & Case Study/jokes/jokes-data.csv" "jokes-data.csv"

In [4]:
data = pd.read_csv("jokes-data.csv")

In [5]:
data

                id  user_id  joke_id  Rating
0        31030_110    31030      110   2.750
1        16144_109    16144      109   5.094
2          23098_6    23098        6  -6.438
3         14273_86    14273       86   4.406
4        18419_134    18419      134   9.375
...            ...      ...      ...     ...
1092054   9517_132     9517      132   3.156
1092055  27767_118    27767      118  -1.594
1092056   10580_81    10580       81   2.000
1092057  31007_119    31007      119   8.906
1092058    8420_98     8420       98  -3.344

[1092059 rows x 4 columns]

In [6]:
data.shape

(1092059, 4)

In [7]:
data['user_id'].nunique()

40863

In [8]:
data['joke_id'].nunique()

139

In [9]:
data['Rating'].nunique()

641

In [10]:
data2 = data[["user_id",	"joke_id",	"Rating"]]

In [11]:
data2

         user_id  joke_id  Rating
0          31030      110   2.750
1          16144      109   5.094
2          23098        6  -6.438
3          14273       86   4.406
4          18419      134   9.375
...          ...      ...     ...
1092054     9517      132   3.156
1092055    27767      118  -1.594
1092056    10580       81   2.000
1092057    31007      119   8.906
1092058     8420       98  -3.344

[1092059 rows x 3 columns]

In [12]:
data2.isna().sum()

user_id    0
joke_id    0
Rating     0
dtype: int64

In [13]:
data2 = data2.dropna()

In [14]:
data2.isna().sum()

user_id    0
joke_id    0
Rating     0
dtype: int64

In [15]:
data2.shape

(1092059, 3)

In [16]:
data2.index

RangeIndex(start=0, stop=1092059, step=1)

##Collobarative filteing

In [17]:
#!pip install surprise

In [18]:
from surprise import Reader, Dataset, KNNBasic, SVD

In [19]:
##### define a reader object
#### the reader object helps in parsing the file or dataframe containing ratings

In [20]:
reader = Reader()

In [21]:
#### create a the dataset to be used for building the filter

In [22]:
joke = Dataset.load_from_df(data2, reader)

In [23]:
joke

In [24]:
algo = KNNBasic()

In [25]:
from surprise.model_selection import cross_validate

In [ ]:
cross_validate(algo, joke, measures = ["RMSE"], cv = 5, verbose = True)

In [27]:
algo2 = SVD()

In [28]:
cross_validate(algo2, joke, measures = ["RMSE"], cv = 5, verbose = True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.6505  4.6572  4.6686  4.6601  4.6751  4.6623  0.0086
Fit time          12.02   12.45   11.84   11.83   11.94   12.02   0.23
Test time         2.93    2.67    2.56    2.51    2.85    2.71    0.16

{'test_rmse': array([4.65047604, 4.65715182, 4.6686212 , 4.66009238, 4.67506472]),
 'fit_time': (12.024507999420166,
  12.446364879608154,
  11.8439199924469,
  11.830199241638184,
  11.939571857452393),
 'test_time': (2.9319369792938232,
  2.6729462146759033,
  2.562751054763794,
  2.5077741146087646,
  2.849848747253418)}